<h3>{{providername}}</h3>

<dl class="provider-attrs primary">
  <dt>Agency name</dt>
  <dd>{{agencyname}}
 
  <dt>Type</dt>
  <dd>{{join type ", "}}</dd>

  <dt>Phone</dt>
  <dd>{{phone}}</dd>

  <dt>Address</dt>
  <dd>
    {{streetaddress}}<br />
    {{city}}, {{state}} {{zip}}
  </dd>

  <dt>Office hours</dt>
  <dd>{{officehours}}</dd>

  <dt>Website</dt>
  <dd><a href="http://{{website}}">{{website}}</a></dd>

  <dt>Insurances accepted</dt>
  <dd>{{insurancesaccepted}}</dd>

  <dt>Offers low-income accommodations?</dt>
  <dd>{{#if lowincome}}Yes{{else}}No{{/if}}</dd>
</dl>

<dl class="provider-attrs secondary">
  <dt>Sexual/attractional orientation of provider</dt>
  <dd>{{orientation}}</dd>

  <dt>Other Specialties and Sensitivities</dt>
  <dd class="odd">{{join specialties ", "}}</dd>

  <dt>Sex/gender identity of provider</dt>
  <dd>{{sexgenderidentity}}</dd>

  <dt>Race/ethnicity identity of provider</dt>
  <dd>{{race}}</dd>

  <dt>Languages spoken</dt>
  <dd>{{join languages ", "}}</dd>

  {{#if trainings}}
  <dt>Relevant trainings</dt>
  <dd>{{trainings}}</dd>
  {{/if}}

  <dt>Has completed Affirmations' cultural competency training(s) for health providers?</dt>
  <dd>{{#if completedculturalcompetencytraining}}Yes{{else}}No{{/if}}</dd>
</dl>
